body {
  background-color: black;
}


.menu {
  width: 80%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  margin-bottom: -20px;
  max-width: 900px;
  height: auto;
  padding-top: 50px;
  display: block;
}

h1, h2, h3 {
  color: rgb(90, 90, 90);
  text-align: center;
}

h1:hover {
  color: white;
  cursor: pointer;
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 36px;
  color: rgb(150, 150, 150);
  margin: 100px;
  padding-bottom: 100px;
  
}

text {text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 36px;
  color: rgb(150, 150, 150);
  
}

button {
  height: 40px;
  width: 40px;
  align-items: right;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  margin: 25px 25px;
  margin-left: 30px;
  background-color: #525252;
  padding: 10px;
  color: gray;
  border: none;
  border-radius: 100px;
  text-align: center;}

button:hover {color:gray;
  background-color: white;}

.audio-player {
  background-color: rgb(50, 50, 50);
  width: 400px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

@media (max-width: 768px) {
  /* CSS styles for screens up to 768px wide (e.g., typical tablets) */
  .audio-player {
    background-color: rgb(50, 50, 50);
    width: 300px;
    height: 100px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding-top: 20px
  }
button{padding:5px;
margin:16px 16px;

}}
